<footer class="footer">

  <div class="footer__social">
    <div class="footer__social__item">
      <div class="circle">
        <a href="#" class="footer__social__link "><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
      </div>
        <p class="footer__social__info">Siguenos en Facebook</p>
    </div>
    <div class="footer__social__item">
      <div class="circle">
        <a href="#" class="footer__social__link"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      </div>
      <p class="footer__social__info">Siguenos en Google Plus</p>
    </div>
    <div class="footer__social__item">
      <div class="circle">
        <a href="#" class="footer__social__link"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
      </div>
      <p class="footer__social__info">Siguenos en Google Plus</p>
    </div>
    <div class="footer__social__item">
      <div class="circle">
        <a href="#" class="footer__social__link"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
      </div>
      <p class="footer__social__info">Envianos un Correo</p>
    </div>
  </div>

  <div class="footer__copyright">
    <nav class="footer__menu">
      <ul class="footer__menu__ul">
        <li class="footer__menu__item"> <a href="#" class="footer__menu__link">Inicio</a> </li>
        <li class="footer__menu__item"> <a href="#" class="footer__menu__link">Productos</a> </li>
        <li class="footer__menu__item"> <a href="#" class="footer__menu__link">Contactenos</a> </li>
      </ul>
    </nav>
    <span class="footer__copyright__soto">soto&copy;2015</a></span>
  </div>
  
</footer>
  
  <!-- fa fa-twitter-square <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  -->
</body>
</html>