<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%= title %> </title>
  <meta name="Un reto de crear una página sencilla" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="./css/index.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  -->
  <script src="https://use.fontawesome.com/86cb6ce792.js"></script>
</head>
<body>
  <div class="top">
    <div class="inner">
      <div class="top_social">
        <a href="" class="top_social_link"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="" class="top_social_link"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="" class="top_social_link"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
      <div class="top_info">contactenos al (506) 6021 04 94</div>
    </div>
  </div>

  <header class="header">
    <div class="inner">
      <a href="./" class="header_logo"><img src="./img/soto.png" alt="Jose Soto Ibarra" width="100px" height="50px" class="header_logo_img"></a>
      <nav class="header_menu">
        <ul>
          <li class="header_menu_item"><a href="#" class="header_menu_link">Inicio</a></li>
          <li class="header_menu_item"><a href="#" class="header_menu_link">Servicios</a></li>
          <li class="header_menu_item"><a href="#" class="header_menu_link">Consejos</a></li>
          <li class="header_menu_item"><a href="#" class="header_menu_link">Nosotros</a></li>
          <li class="header_menu_item"><a href="#" class="header_menu_link">Contáctenos</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <!-- 
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">List of products</a></li>
        </ul>
      </nav>
    </header> -->