<% include partials/head.ejs %>

  <main class="main">
    
    <div class="main_slider">
      <div class="cycle-slideshow"> <!-- hacer fade en 6s -->

        <div class="main_slider_slider"> <!-- agregar imagen banner1 -->
          <div class="inner">
            <div class="main_slider_slide_info main_slider_slide_info--left">
              <h1>Consultoría</h1>
              <h4 class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
            </div>
          </div>
        </div>

        <div class="main_slider_slider"> <!-- agregar imagen banner2 -->
          <div class="inner">
            <div class="inner">
              <div class="main_slider_slide_info main_slider_slide_info--left">
                <h1>Despachos Jurídicos</h1>
                <h4 class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
    <!-- Tarjetas -->
    <section class="main__featured inner">
      
      <article class="main__featured__item">
        <a href="#" class="main__featured__item__link">
          <figure class="main__featured__item__figure">
            <div class="main__featured__item__img" style="background-image: url('img/tarjetas/edificio1.jpg'); background-repeat: no-repeat; background-size: cover;"></div>
              <figcaption class="main__featured__item__caption bg-celeste">
                <h3 class="main__featured__item__title">Lorem upsum</h3>
                  <p class="main__featured__item__description">Lorem ipsum dolor sit amet, consectetur.</p>
              </figcaption>
          </figure>
        </a>      
      </article>

      <article class="main__featured__item">
        <a href="#" class="main__featured__item__link">
          <figure class="main__featured__item__figure">
            <div class="main__featured__item__img" style="background-image: url('img/tarjetas/edificio2.jpg'); background-repeat: no-repeat; background-size: cover;"></div>
            <figcaption class="main__featured__item__caption bg-celeste">
              <h3 class="main__featured__item__title">Lorem upsum</h3>
              <p class="main__featured__item__description">Lorem ipsum dolor sit amet, consectetur.</p>
            </figcaption>   
          </figure>
        </a>
            
      </article>
      <article class="main__featured__item">
        <a href="#" class="main__featured__item__link">
          <figure class="main__featured__item__figure">
            <div class="main__featured__item__img" style="background-image: url('img/tarjetas/edificio3.jpg'); background-repeat: no-repeat; background-size: cover;"></div>
            <figcaption class="main__featured__item__caption bg-celeste">
              <h3 class="main__featured__item__title">Lorem upsum</h3>
              <p class="main__featured__item__description">Lorem ipsum dolor sit amet, consectetur.</p>
            </figcaption>   
          </figure>
        </a>
           
      </article>
      <article class="main__featured__item">
        <a href="#" class="main__featured__item__link">
          <figure class="main__featured__item__figure">
            <div class="main__featured__item__img" style="background-image: url('img/tarjetas/edificio4.jpg'); background-repeat: no-repeat; background-size: cover;"></div>
            <figcaption class="main__featured__item__caption bg-celeste">
              <h3 class="main__featured__item__title">Lorem upsum</h3>
                <p class="main__featured__item__description">Lorem ipsum dolor sit amet, consectetur.</p>
              </figcaption>   
            </figure>
        </a>
            
      </article>
        
    </section>

    <section class="main__contact">
      <div class="inner"> 
        <h2 class="main__contact__title">Consulte con nosotros</h2>
        <a class="main__contact__button btn btn-white" href="#">Contáctenos</a>
      </div>
    </section>

    <section class="main__more ">
      <div class="main__more__bg">
        <div class="inner">
          <div class="main__more__info">
            <h2 class="main__more__title">Conozca el equipo de trabajo</h2>
            <a class="main__more__button btn btn-white" href="#">Conozca más</a>
          </div>
        </div>
      </div>
    </section>
    <!--
      <section class="main__more ">
      <div class="main__more__bg" style="background-image:url('img/paralax-vita.jpg');"></div>
      <div class="inner"> 
        <div class="main__more__info">
          <h2 class="main__more__title">Conozca el equipo de trabajo</h2>
          <a class="main__more__button btn btn-white" href="#">Conozca más</a>
        </div>
      </div>
    </section> -->

  </main>

<% include partials/footer.ejs %>
